
:root {
    --colorGray1: #333333;    
    --colorGray2: #4f4f4f;    
    --colorGray3: #828282;    
    --colorGray4: #bdbdbd;    
    --colorGray5: #e0e0e0;    
    --colorGray6: #f2f2f2;    
    --colorRed: #eb5757;    
    --colorOrange: #f2994a;    
    --colorYellow: #f2c94c;    
    --colorGreen1: #219653;    
    --colorGreen2: #27ae60;    
    --colorGreen3: #6fcf97;    
    --colorBlue1: #2f80ed;    
    --colorBlue2: #2d9cdb;    
    --colorBlue3: #56ccf2;    
    --colorPurple1: #9b51e0;    
    --colorPurple2: #bb6bd9;    
}